@model DocprocShared.Models.Job
@using DocprocShared.BlobAccessLayer;
@{
    var blobAccess = new BlobAccess();
}

<div>
    <h4>Job @Html.DisplayFor(model => model.Id)</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Template)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Template)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @if (Model.StartTime != null)
            {
                @Html.DisplayFor(model => model.StartTime);
            }
            else
            {
                @:N/A (In queue)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @if (Model.EndTime != null)
            {
                @Html.DisplayFor(modelItem => Model.EndTime)
            }
            else
            {
                @:N/A (Not finished yet)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @if (Model.Result != null)
            {
                <a href="@blobAccess.GetSASUri(Model, 15)" download="@String.Concat(Model.RowKey,".zip")">Download</a>
            }
            else
            {
                @:N/A (Not finished yet)
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Delete", "Delete", new { partitionKey = Model.PartitionKey, rowKey = Model.RowKey }) |
    @Html.ActionLink("Show Tasks", "Index", "Task", new { jobPartitionKey = Model.PartitionKey, jobRowKey = Model.RowKey }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
