@model DocprocShared.Models.Task

<div>
    <h4>Task @Html.DisplayFor(model => model.Id)</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Template)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Template)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParamDict)
        </dt>

        <dd>
            <ul>
                @foreach (var pair in Model.ParamDict)
                {
                    <li><b>@pair.Key</b>:@pair.Value</li>
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Delete", "Delete") |
    @Html.ActionLink("Back to List", "Index", new { jobPartitionKey = "USER:" + User.Identity.Name, jobRowKey = Model.PartitionKey }) |
    @Html.ActionLink("Job details", "Details", "Job", new { partitionKey = "USER:" + User.Identity.Name, rowKey = Model.PartitionKey })
</p>
